.container {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.loader {
    overflow: hidden;
    width: 100px;
    height: auto;
    margin: 10vh auto;
    position: relative;
    animation: round 0.5s infinite ease;
}

img {
    height: auto;
    width: 100px;
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 13px;
    }
}